body {
  font-family: '游ゴシック', 'Yu Gothic', 'メイリオ', 'Meiryo' !important;
}

@media screen and (min-width:768px) {

  /*【タブレット用】画面サイズが768px以上だったらここを読み込む*/
  .ranking1 {
    height: 350px;
  }

  .ranking {
    height: 150px;
  }

  .snsimg {
    height: 350px;
  }

  .positiona {
    position: absolute;
    bottom: 0px;
  }

  .positionr {
    height: 380px;
    position: relative;
  }
}

@media screen and (max-width:480px) {

  /*　【スマホ用】　画面サイズが480px以上だったらここを読み込む　*/
  .ranking1 {
    height: 200px;
  }

  .ranking {
    height: 200px;
  }
}

.navbar.navbar-dark .navbar-toggler {
  color: #000 !important;
}

.btext{
  color: #78909c;
}

.check-card {
  list-style: none;
  margin: 40px auto;
  width: 320px;

}
.check-card .check-card-item {
  position: relative;
  width: 100%;
  margin: 0 1% 15px;
  font-size: 16px;
  background: #fff;
  overflow: hidden;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.check-card li label {
  display: block;
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}
.check-card .check-card-body {
  height: 300px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.check-card .check-card-body-in {
  padding: 40px 20px 20px;

}
.check-card .check-card-title {
  font-size: 32px;
  margin-bottom: 5px;
}
.check-card .check-card-bg,
.check-card .check-card-toggle {
  position: relative;
  background: #78909c;
  width: 36px;
  height: 36px;
  top: 10px;
  left: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.check-card .check-card-bg {
  position: absolute;
  background: #78909c;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform:scale(1);
  transform:scale(1);
  z-index: 0;
}
.check-card .check-card-toggle span {
  position: absolute;
  display: block;
  width: 20px;
  margin-left: -10px;
  height: 1px;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;

  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
.check-card .check-card-toggle span:first-child {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.check-card .check-card-cancel {
  font-size: 18px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 10px 0 7px;
  text-align: center;
  position: absolute;
  bottom: -50px;
  margin: 0 7%;
  width: 86%;
  -webkit-transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
  transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
}
.check-card input[type=checkbox] {
  display: none;
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span:first-child {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.check-card input[type=checkbox]:checked ~ .check-card-bg {
  -webkit-transform:scale(25);
  transform:scale(25);
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-cancel {
  bottom: 30px;
}

.form1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
